<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comer y Cantar</title>
  <link rel="stylesheet" href="/static/css/style.css"> <!-- Enlace al archivo CSS -->
</head>
<body>
  <header>
    <h1>¡Bienvenido a Comer y Cantar!</h1>
    <p>La mejor plataforma para hacer reservas fácilmente en tus restaurantes favoritos.</p>
  </header>
  
  <section>
    <p>Para comenzar, selecciona una de las siguientes opciones:</p>
    <ul>
      <li><a href="/registro-cliente">Regístrate para realizar tu reserva</a></li>
      <li><a href="/registro-restaurante">Si eres un restaurante, regístrate aquí para ofrecer tus mesas.</a></li>
    </ul>
  </section>

  <section>
  <p>Si ya eres usuario, adelante con tu gestión:</p>
  <ul>
    <li><a href="/login-cliente"></a>Hora de salir a comer.</li>
    <li><a href="/login-restaurante"></a></li>
  </ul>


  </section>

  <footer>
    <p>&copy; 2025 Comer y Cantar</p>
  </footer>
</body>
</html>
