/* Naranja suave */
.text-orange {
    color: #d35400 !important;
}

.btn-orange {
    background-color: #d35400;
    border-color: #d35400;
    color: white;
}

.btn-orange:hover {
    background-color: #b84300;
    border-color: #b84300;
}

.navbar-brand {
    font-size: 1.5rem;
}

