<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Restaurante</title>
</head>
<body>
    <h2>Registro de Restaurante</h2>
    <form method="POST">
        <label for="nombre">Nombre del Restaurante</label>
        <input type="text" name="nombre" id="nombre" required>

        <label for="password">Dirección</label>
        <input type="password" name="password" id="password" required>

        <label for="password">Ciudad</label>
        <input type="password" name="password" id="password" required>

        <label for="password">Teléfono</label>
        <input type="password" name="password" id="password" required>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>

        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Registrarse</button>
    </form>
    <a href="{{ url_for('login') }}">¿Ya tienes cuenta? Inicia sesión</a>
</body>
</html>
